// --------------------------------

// Flexbox

// --------------------------------

.flex {
  display: flex !important;
}
.inline-flex {
  display: inline-flex !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-column-reverse {
  flex-direction: column-reverse !important;
}
.flex-row {
  flex-direction: row !important;
}
.flex-row-reverse {
  flex-direction: row-reverse !important;
}
.flex-center {
  justify-content: center;
  align-items: center !important;
}

// children
.flex-grow-0 {
  flex-grow: 0 !important;
}
.flex-grow {
  flex-grow: 1 !important;
}
.flex-shrink-0 {
  flex-shrink: 0 !important;
}
.flex-basis-0 {
  flex-basis: 0 !important;
}

@each $breakpoint, $value in $breakpoints {
  @include breakpoint(#{$breakpoint}) {
    // flexbox
    .flex\@#{$breakpoint} {
      display: flex !important;
    }
    .inline-flex\@#{$breakpoint} {
      display: inline-flex !important;
    }
    .flex-wrap\@#{$breakpoint} {
      flex-wrap: wrap !important;
    }
    .flex-column\@#{$breakpoint} {
      flex-direction: column !important;
    }
    .flex-column-reverse\@#{$breakpoint} {
      flex-direction: column-reverse !important;
    }
    .flex-row\@#{$breakpoint} {
      flex-direction: row !important;
    }
    .flex-row-reverse\@#{$breakpoint} {
      flex-direction: row-reverse !important;
    }
    .flex-center\@#{$breakpoint} {
      justify-content: center;
      align-items: center !important;
    }

    .flex-grow-0\@#{$breakpoint} {
      flex-grow: 0 !important;
    }
    .flex-grow\@#{$breakpoint} {
      flex-grow: 1 !important;
    }
    .flex-shrink-0\@#{$breakpoint} {
      flex-shrink: 0 !important;
    }
    .flex-shrink\@#{$breakpoint} {
      flex-shrink: 1 !important;
    }
  }
}
