.form__label {
  font-size: var(--text-lg);
  font-weight: 700;

  + * {
    margin-top: var(--space-xs);
  }
}

.form__group + .form__group {
  border-top: 1px solid var(--color-contrast-lower);
  margin-top: var(--space-sm);
  padding-top: var(--space-sm);
}
