// ==========================================================================
// Base / Page
// ==========================================================================

//
// Simple page-level setup.
//
// 1. Ensure the page always fills at least the entire height of the viewport.
//
html {
  min-height: 100%; /* [1] */
  scroll-behavior: smooth;

  &.is-loading {
    cursor: wait;
  }

  &.has-scroll-smooth {
    overflow: hidden;
  }

  &.has-scroll-dragging {
    user-select: none;
  }
}

body {
  overflow-y: auto;
  overflow-x: hidden;

  .has-scroll-smooth & {
    overflow: hidden;
  }
}

::selection {
  // background-color: var(--color-contrast-medium);
  color: var(--color-accent);
  text-shadow: none;
}
