
//
// ICON
//

.icon {
  display: inline-block;
  color: inherit;
  fill: currentColor;
  height: 1em;
  width: 1em;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

// icon size
.icon--xxxs {
  width: var(--icon-xxxs);
  height: var(--icon-xxxs);
}

.icon--xxs {
  width: var(--icon-xxs);
  height: var(--icon-xxs);
}

.icon--xs {
  width: var(--icon-xs);
  height: var(--icon-xs);
}

.icon--sm {
  width: var(--icon-sm);
  height: var(--icon-sm);
}

.icon--md {
  width: var(--icon-md);
  height: var(--icon-md);
}

.icon--lg {
  width: var(--icon-lg);
  height: var(--icon-lg);
}

.icon--xl {
  width: var(--icon-xl);
  height: var(--icon-xl);
}

.icon--xxl {
  width: var(--icon-xxl);
  height: var(--icon-xxl);
}

.icon--xxxl {
  width: var(--icon-xxxl);
  height: var(--icon-xxxl);
}

.icon--is-spinning { // rotate the icon infinitely
  animation: icon-spin 1s infinite linear;
}

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// --------------------------------

// SVG <symbol>

// --------------------------------

// enable icon color corrections
.icon use {
  color: inherit;
  fill: currentColor;
}
