:root {
  // width
  --border-w: 1px;
  --border-w-2: 2px;
  --border-w-3: 3px;
  --border-w-4: 4px;

  // radius
  --radius: 0.25em; // radius base size
  --radius-sm: calc(var(--radius) / 2);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) * 2);
}
