@import '../2-tools/mixins/mixin.breakpoints';
@import '../2-tools/mixins/mixin.lhCrop';

:root {
  // font family
  --font-primary: IBM Plex Sans, sans-serif;

  // font size
  --text-base-size: 0.875em; // body font-size
  --text-scale-ratio: 1.2; // multiplier used to generate the type scale values 👇

  // line-height
  --body-line-height: 1.4;
  --heading-line-height: 1.3;

  // capital letters - used in combo with the lhCrop mixin
  --font-primary-capital-letter: 1;

  // unit - don't modify unless you want to change the typography unit (e.g., from Em to Rem units)
  --text-unit: var(
    --text-base-size
  ); // if not Em units → --text-unit: var(--text-base-size);
}

:root,
* {
  // type scale
  --text-xs: calc(
    (var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio)
  );
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(
    var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-primary);
  font-weight: 700;
}
