// 👇 uncomment to modify default spacing scale
:root {
  --space-unit: 2em;
}

:root,
* {
  --space-xxxxs: calc(0.125 * var(--space-unit));
  --space-xxxs: calc(0.288 * var(--space-unit));
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.572 * var(--space-unit));
  --space-sm: calc(0.875 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-xxxl: calc(8.5 * var(--space-unit));
  --space-xxxxl: calc(13.75 * var(--space-unit));

  --space-n-xxxxs: calc(-1 * var(--space-xxxxs));
  --space-n-xxxs: calc(-1 * var(--space-xxxs));
  --space-n-xxs: calc(-1 * var(--space-xxs));
  --space-n-xs: calc(-1 * var(--space-xs));
  --space-n-sm: calc(-1 * var(--space-sm));
  --space-n-md: calc(-1 * var(--space-md));
  --space-n-lg: calc(-1 * var(--space-lg));
  --space-n-xl: calc(-1 * var(--space-xl));
  --space-n-xxl: calc(-1 * var(--space-xxl));
  --space-n-xxxl: calc(-1 * var(--space-xxxl));
  --space-n-xxxxl: calc(-1 * var(--space-xxxxl));
}
