:root,
[data-theme='default'] {
  --color-accent: hsl(0, 0%, 11%);

  --color-variant-red-dark: hsl(13, 55%, 36%);
  --color-variant-red: hsl(13, 45%, 46%);

  --color-variant-green-dark: hsl(187, 61%, 36%);
  --color-variant-green: hsl(187, 45%, 46%);

  --color-variant-blue-dark: hsl(216, 61%, 47%);
  --color-variant-blue: hsl(216, 45%, 47%);

  --color-black: hsl(0, 0%, 11%);
  --color-white: hsl(0, 0%, 100%);

  // color contrasts
  --color-bg: hsl(0, 0%, 100%);
  --color-contrast-lower: hsl(0, 0%, 95%);
  --color-contrast-low: hsl(0, 0%, 83%);
  --color-contrast-medium: hsl(0, 0%, 47%);
  --color-contrast-high: hsl(0, 0%, 19%);
  --color-contrast-higher: hsl(0, 0%, 11%);
}

body,
[data-theme='default'] {
  // font rendering
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
