:root {
    --max-w-xxxxs: 20rem; // ~320px
    --max-w-xxxs: 26rem; // ~416px
    --max-w-xxs: 32rem; // ~512px
    --max-w-xs: 38rem; // ~608px
    --max-w-sm: 48rem; // ~768px
    --max-w-md: 71.5rem; // ~1144px
    --max-w-lg: 80rem; // ~1280px
    --max-w-xl: 90rem; // ~1440px
    --max-w-xxl: 100rem; // ~1600px
    --max-w-xxxl: 120rem; // ~1920px
    --max-w-xxxxl: 150rem; // ~2400px
}
