body {
  font-size: var(--text-base-size, 1em);
  font-family: var(--font-primary, sans-serif);
  color: var(--color-contrast-high);
}

h1,
h2,
h3,
h4 {
  color: var(--color-contrast-higher);
  line-height: var(--heading-line-height);
}

h1 {
  font-size: var(--text-xxl);
}

h2 {
  font-size: var(--text-xl);
}

h3 {
  font-size: var(--text-lg);
}

h4 {
  font-size: var(--text-md);
}

small {
  font-size: var(--text-sm);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

address {
  font-style: inherit;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

// --------------------------------

// Inline Text

// --------------------------------

a,
.link {
  color: var(--color-accent);
  text-decoration: underline;
}

b,
strong {
  font-weight: bold;
}

s {
  text-decoration: line-through;
}

u {
  text-decoration: underline;
}

p i {
  font-style: italic;
}
