// ==========================================================================
// Generic / Forms
// ==========================================================================

input,
select,
textarea {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: none transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  appearance: none;
}

select {
  text-transform: none;

  &::-ms-expand {
    display: none;
  }

  &::-ms-value {
    background: none;
    color: inherit;
  }
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

input::-ms-clear {
  display: none; // hide X icon in IE and Edge
}

select.form-control::-ms-expand {
  display: none; // hide Select default icon on IE
}
