:root {
  --custom-radiobox-size: 20px;
  --custom-radiobox-radius: 3px;
  --custom-radiobox-border-width: 2px;
  --custom-radiobox-marker-size: 18px;
}

.custom-radiobox {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-size: var(--custom-radiobox-size);
}

.custom-radiobox__input {
  position: relative;
  // hide native input
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 1em;
  width: 1em;
  display: block;
  z-index: 1;
  cursor: pointer;
}

.custom-radiobox__control {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  transition: all 0.2s;
  color: inherit; // unchecked color
}

.custom-radiobox__input:checked ~ .custom-radiobox__control {
  color: var(--color-primary); // checked color
}

.custom-radiobox__input:active ~ .custom-radiobox__control {
  transform: scale(0.9);
}

.custom-radiobox__input:checked:active ~ .custom-radiobox__control,
.custom-radiobox__input:indeterminate:active ~ .custom-radiobox__control {
  transform: scale(1);
}

// --icon
.custom-radiobox--icon {
  --custom-radiobox-size: 29px;

  .custom-radiobox__input:checked ~ .custom-radiobox__control {
    border: 1px solid var(--color-accent);
    border-radius: 1000px;
  }

  .icon {
    display: block;
    color: inherit;
    position: relative;
    z-index: 1;
  }
}

// --tab

.custom-radiobox--tab {
  --custom-radiobox-size: 1rem;

  .custom-radiobox__input {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    &:hover {
      & ~ .custom-radiobox__control .tab {
        background-color: var(--color-accent);
        color: var(--color-white);
      }
    }
  }

  .custom-radiobox__control {
    position: static;
  }

  .custom-radiobox__input:checked ~ .custom-radiobox__control .tab {
    background-color: var(--color-accent);
    color: var(--color-white);
  }

  // .tab {
  //   display: block;
  //   color: inherit;
  //   position: relative;
  //   z-index: 1;
  // }
}
