//
// BTN
//

.btn {
  --btn-font-size: 1em;
  --btn-padding-x: var(--space-xs);
  --btn-padding-y: var(--space-xxxs);
  --btn-radius: 1000px;

  // basic button style
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1;

  font-size: var(--btn-font-size);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  border-radius: var(--btn-radius);
}

.btn {
  background: var(--color-contrast-lower);
  cursor: pointer;
  text-decoration: none;
  line-height: 1.2;
  transition: all 0.2s ease;

  &:hover {
    background: var(--color-accent);
    color: var(--color-white);
  }
}

.btn--subtle {
  background: var(--color-contrast-lower);
  color: var(--color-contrast-higher);
}

.btn--outline {
  background: transparent;
  border: 1px solid var(--color-contrast-low);
}

.btn--wide {
  width: 100%;
}

.btn--lg {
  --btn-padding-y: var(--space-xxs);
}
