<section class="section section--product-display">
  <div class="section__inner">
    <div class="grid">
      <div class="col@md">
        <div class="ratio" id="image-variant-red">
          <img
            class="ratio__content"
            src="assets/images/product-1.jpg"
            alt=""
          />
        </div>
        <div class="ratio" id="image-variant-green">
          <img
            class="ratio__content"
            src="assets/images/product-2.jpg"
            alt=""
          />
        </div>
        <div class="ratio" id="image-variant-blue">
          <img
            class="ratio__content"
            src="assets/images/product-3.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="col-content@md">
        <div class="box box--x-0 box--lg@md">
          <div class="text-component">
            <h1>Red Flyknit Trainers</h1>
            <p>$190.00</p>
          </div>
          <form action="" class="form">
            <div class="form__group">
              <label for="" class="form__label">Size</label>

              <ul class="flex flex-wrap gap-xs">
                <li>
                  <div class="custom-radiobox custom-radiobox--tab">
                    <input
                      class="custom-radiobox__input"
                      type="radio"
                      name="size-button"
                      id="size-small"
                      checked
                    />
                    <label
                      class="custom-radiobox__control"
                      aria-hidden="true"
                      for="size-small"
                    >
                      <div class="tab btn">Small</div>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="custom-radiobox custom-radiobox--tab">
                    <input
                      class="custom-radiobox__input"
                      type="radio"
                      name="size-button"
                      id="size-medium"
                    />
                    <label
                      class="custom-radiobox__control"
                      aria-hidden="true"
                      for="size-medium"
                    >
                      <div class="tab btn">Medium</div>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="custom-radiobox custom-radiobox--tab">
                    <input
                      class="custom-radiobox__input"
                      type="radio"
                      name="size-button"
                      id="size-large"
                    />
                    <label
                      class="custom-radiobox__control"
                      aria-hidden="true"
                      for="size-large"
                    >
                      <div class="tab btn">Large</div>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="custom-radiobox custom-radiobox--tab">
                    <input
                      class="custom-radiobox__input"
                      type="radio"
                      name="size-button"
                      id="size-extra-large"
                    />
                    <label
                      class="custom-radiobox__control"
                      aria-hidden="true"
                      for="size-extra-large"
                    >
                      <div class="tab btn">Extra Large</div>
                    </label>
                  </div>
                </li>
              </ul>
            </div>
            <div class="form__group">
              <label for="" class="form__label">Colour</label>

              <ul class="flex flex-wrap gap-xxxs js-radiobox-variant">
                <li>
                  <div class="custom-radiobox custom-radiobox--icon">
                    <input
                      class="custom-radiobox__input"
                      type="radio"
                      name="radiobox-variant"
                      id="variant-red"
                      checked
                    />
                    <label
                      class="custom-radiobox__control"
                      aria-hidden="true"
                      for="variant-red"
                    >
                      <svg
                        class="icon"
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle
                          cx="16"
                          cy="16"
                          r="11.3137"
                          transform="rotate(45 16 16)"
                          fill="#8A3D28"
                        />
                        <mask
                          id="mask0"
                          mask-type="alpha"
                          maskUnits="userSpaceOnUse"
                          x="0"
                          y="0"
                          width="32"
                          height="32"
                        >
                          <circle
                            cx="16"
                            cy="16"
                            r="11.3137"
                            transform="rotate(45 16 16)"
                            fill="#C4C4C4"
                          />
                        </mask>
                        <g mask="url(#mask0)">
                          <rect
                            x="33.5982"
                            y="-1.6"
                            width="24.8902"
                            height="52.0431"
                            transform="rotate(45 33.5982 -1.6)"
                            fill="#AC5941"
                          />
                        </g>
                      </svg>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="custom-radiobox custom-radiobox--icon">
                    <input
                      class="custom-radiobox__input"
                      type="radio"
                      name="radiobox-variant"
                      id="variant-green"
                    />
                    <label
                      class="custom-radiobox__control"
                      aria-hidden="true"
                      for="variant-green"
                    >
                      <svg
                        class="icon"
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle
                          cx="16"
                          cy="16"
                          r="11.3137"
                          transform="rotate(45 16 16)"
                          fill="#1F737E"
                        />
                        <mask
                          id="mask0"
                          mask-type="alpha"
                          maskUnits="userSpaceOnUse"
                          x="0"
                          y="0"
                          width="32"
                          height="32"
                        >
                          <circle
                            cx="16"
                            cy="16"
                            r="11.3137"
                            transform="rotate(45 16 16)"
                            fill="white"
                          />
                        </mask>
                        <g mask="url(#mask0)">
                          <rect
                            x="33.5982"
                            y="-1.6"
                            width="24.8902"
                            height="52.0431"
                            transform="rotate(45 33.5982 -1.6)"
                            fill="#419FAC"
                          />
                        </g>
                      </svg>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="custom-radiobox custom-radiobox--icon">
                    <input
                      class="custom-radiobox__input"
                      type="radio"
                      name="radiobox-variant"
                      id="variant-blue"
                    />
                    <label
                      class="custom-radiobox__control"
                      aria-hidden="true"
                      for="variant-blue"
                    >
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle
                          cx="16"
                          cy="16"
                          r="11.3137"
                          transform="rotate(45 16 16)"
                          fill="#1F2E7E"
                        />
                        <mask
                          id="mask0"
                          mask-type="alpha"
                          maskUnits="userSpaceOnUse"
                          x="0"
                          y="0"
                          width="32"
                          height="32"
                        >
                          <circle
                            cx="16"
                            cy="16"
                            r="11.3137"
                            transform="rotate(45 16 16)"
                            fill="white"
                          />
                        </mask>
                        <g mask="url(#mask0)">
                          <rect
                            x="33.5982"
                            y="-1.6"
                            width="24.8902"
                            height="52.0431"
                            transform="rotate(45 33.5982 -1.6)"
                            fill="#416CAC"
                          />
                        </g>
                      </svg>
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <button type="submit" class="btn btn--wide btn--lg btn--outline">
              Add to Cart
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
