.section--product-display {
  overflow: visible;
}

.section--product-display .grid {
  > .col\@md:first-of-type {
    @include breakpoint(md, 'not all') {
      order: 2;
    }
  }

  .col-content\@md {
    @include breakpoint(md, 'not all') {
      order: 1;
    }
    @include breakpoint(md) {
      position: sticky;
      top: 0;
      left: 0;
      height: 100vh;
      overflow-y: auto;
    }
  }
}

.section--product-display .form {
  margin-top: var(--space-md);

  .btn[type='submit'] {
    margin-top: var(--space-md);
  }
}
