// --------------------------------

// Ratio

// A list of aspect ratios that get generated as modifier classes.
// You should predefine it with only the ratios and names your project needs.

// The map keys are the strings used in the generated class names, and they can
// follow any convention, as long as they are properly escaped strings. i.e.:

//   $ratios: (
//     "2\\:1"         : (2:1),
//     "4-by-3"        : (4:3),
//     "full-hd"       : (16:9),
//     "card-image"    : (2:3),
//     "golden-ratio"  : (1.618:1) -> non-integers are okay
//   ) !default;

// Markup:
// <div class="ratio ratio--2:1">
//     <img class="ratio__content" src="https://unsplash.it/1000/500" alt="">
// </div>

// -------------------------------

/**
* Create ratio-bound content blocks, to keep media (e.g. images, videos) in
* their correct aspect ratios.
*
* http://alistapart.com/article/creating-intrinsic-ratios-for-video
*
* 1. Default is a 1:1 ratio (i.e. a perfect square).
*/

.ratio {
    position: relative;
    display: block;
    padding-bottom: 100%; /* [1] */
}

.ratio__content,
.ratio > iframe,
.ratio > embed,
.ratio > object {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

img.ratio__content,
video.ratio__content {
    display: block;
    object-fit: cover;
}

/* Ratio variants.
========================================================================== */

/**
* Generate a series of ratio classes to be used like so:
*
*   <div class="o-ratio o-ratio--golden-ratio">
*
*/

@each $ratio-name, $ratio-value in $ratios {
    @each $antecedent, $consequent in $ratio-value {
        @if (type-of($antecedent) != number) {
            @error "`#{$antecedent}` needs to be a number.";
        }

        @if (type-of($consequent) != number) {
            @error "`#{$consequent}` needs to be a number.";
        }

        .ratio--#{$ratio-name}::before {
            padding-bottom: ($consequent/$antecedent) * 100%;
        }
    }
}

/* Contain modifier.
========================================================================== */

/**
* Only works with image content.
* Contains the image to the boundaries, without cropping or stretching it.
*/

.ratio--img-contain {
    > .ratio__content::before {
        height: auto;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
        width: auto;
    }
}

.ratio--gradient-animation {
    background-color: #eaeaea;
    background-color: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.1) 8%,
        rgba(0, 0, 0, 0.15) 18%,
        rgba(0, 0, 0, 0.1) 33%
    );
    background-size: 400% 100%;
    animation: gradient-animation 2s linear 0s infinite forwards;

    &::before {
        padding-bottom: calc(
            100% /
                (
                    var(--aspect-ratio-width, 750) /
                        var(--aspect-ratio-height, 420)
                )
        ); // return a string 750/420
    }

    @keyframes gradient-animation {
        0% {
            background-position: -50% 0;
        }
        100% {
            background-position: 50% 0;
        }
    }
}
