// --------------------------------

// Section

// .section - A wrapper element and can be used to give space between other section. <br>
// It has by default an full-width, but for some case you can add fixed-with for example wide-screen at 1700px above. <br>

// .section__inner - A containing element to wrap elements inside a section. It has a fixed width and a half gutter to stack elements that placed with half gutter

//   $ratios: (
//     "2\\:1"         : (2:1),
//     "4-by-3"        : (4:3),
//     "full-hd"       : (16:9),
//     "card-image"    : (2:3),
//     "golden-ratio"  : (1.618:1) -> non-integers are okay
//   ) !default;

// Markup:
// <section class="section">
//     <div class="section__inner"></div>
// </section>

// -------------------------------

.section {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

// classes used to center content on x-axis and set content max width
.section__inner {
    --component-padding: var(--space-lg);
    position: relative;
    max-width: var(--max-w-md);
    width: calc(100% - 2 * var(--component-padding));
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(md) {
        --component-padding: var(--space-xxl);
    }

    // @include breakpoint(sm, 'not all') {
    //   max-width: var(--max-w-sm);
    // }
}

// SECTION BACKGROUND-IMAGE

.section__bg {
    background-size: cover;
    background-position: center center;
}

.section__bgTexture {
    background-position: top left;
    background-repeat: repeat;
}

.section__bgTexture,
.section__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
