// --------------------------------

// Background Wrapper

// To insert a background-image or image on the background of an element or layout

// --------------------------------

.bg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: none;
  background-size: cover;
  background-position: center center;
}

.bg-wrapper--overlayer {
  &::before {
    content: '';
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--color-bg));
    z-index: 0;
  }
}
