// --------------------------------

// List Inline

// The list-inline object simply displays a list of items in one line.

// --------------------------------

.list-inline {
  margin-left: 0;
  list-style: none;
}

.list-inline__item {
  display: inline-block;
}
