// --------------------------------

// Box

// The box object simply boxes off content. Extend with cosmetic styles in the Components layer

// --------------------------------

.box {
  min-height: 1px;
  padding: var(--space-lg);

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

// Size & breakpoints variants
.box--xs {
  padding: var(--space-xs);
}
.box--sm {
  padding: var(--space-sm);
}
.box--md {
  padding: var(--space-md);
}
.box--lg {
  padding: var(--space-lg);
}
.box--xl {
  padding: var(--space-xl);
}
.box--xxl {
  padding: var(--space-xxl);
}
.box--xxxl {
  padding: var(--space-xxxl);
}
.box--xxxxl {
  padding: var(--space-xxxxl);
}
.box--0 {
  padding: 0;
}

.box--top-0 {
  padding-top: 0;
}
.box--bottom-0 {
  padding-bottom: 0;
}
.box--right-0 {
  padding-right: 0;
}
.box--left-0 {
  padding-left: 0;
}

.box--x-xs {
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
}
.box--x-sm {
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
}
.box--x-md {
  padding-left: var(--space-md);
  padding-right: var(--space-md);
}
.box--x-lg {
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
}
.box--x-xl {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}
.box--x-xxl {
  padding-left: var(--space-xxl);
  padding-right: var(--space-xxl);
}
.box--x-xxxl {
  padding-left: var(--space-xxxl);
  padding-right: var(--space-xxxl);
}
.box--x-xxxxl {
  padding-left: var(--space-xxxxl);
  padding-right: var(--space-xxxxl);
}
.box--x-0 {
  padding-left: 0;
  padding-right: 0;
}

.box--y-xs {
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
}
.box--y-sm {
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
}
.box--y-md {
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
}
.box--y-lg {
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
}
.box--y-xl {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}
.box--y-xxl {
  padding-top: var(--space-xxl);
  padding-bottom: var(--space-xxl);
}
.box--y-xxxl {
  padding-top: var(--space-xxxl);
  padding-bottom: var(--space-xxxl);
}
.box--y-xxxxl {
  padding-top: var(--space-xxxxl);
  padding-bottom: var(--space-xxxxl);
}
.box--y-0 {
  padding-top: 0;
  padding-bottom: 0;
}

@each $breakpoint, $value in $breakpoints {
  @include breakpoint(#{$breakpoint}) {
    // padding
    @supports (--css: variables) {
      .box--xs\@#{$breakpoint} {
        padding: var(--space-xs);
      }
      .box--sm\@#{$breakpoint} {
        padding: var(--space-sm);
      }
      .box--md\@#{$breakpoint} {
        padding: var(--space-md);
      }
      .box--lg\@#{$breakpoint} {
        padding: var(--space-lg);
      }
      .box--xl\@#{$breakpoint} {
        padding: var(--space-xl);
      }
      .box--xxl\@#{$breakpoint} {
        padding: var(--space-xxl);
      }
      .box--xxxl\@#{$breakpoint} {
        padding: var(--space-xxxl);
      }
      .box--xxxxl\@#{$breakpoint} {
        padding: var(--space-xxxxl);
      }
      .box--0\@#{$breakpoint} {
        padding: 0;
      }

      .box--top-0\@#{$breakpoint} {
        padding-top: 0;
      }
      .box--bottom-0\@#{$breakpoint} {
        padding-bottom: 0;
      }
      .box--right-0\@#{$breakpoint} {
        padding-right: 0;
      }
      .box--left-0\@#{$breakpoint} {
        padding-left: 0;
      }

      .box--x-xs\@#{$breakpoint} {
        padding-left: var(--space-xs);
        padding-right: var(--space-xs);
      }
      .box--x-sm\@#{$breakpoint} {
        padding-left: var(--space-sm);
        padding-right: var(--space-sm);
      }
      .box--x-md\@#{$breakpoint} {
        padding-left: var(--space-md);
        padding-right: var(--space-md);
      }
      .box--x-lg\@#{$breakpoint} {
        padding-left: var(--space-lg);
        padding-right: var(--space-lg);
      }
      .box--x-xl\@#{$breakpoint} {
        padding-left: var(--space-xl);
        padding-right: var(--space-xl);
      }
      .box--x-xxl\@#{$breakpoint} {
        padding-left: var(--space-xxl);
        padding-right: var(--space-xxl);
      }
      .box--x-xxxl\@#{$breakpoint} {
        padding-left: var(--space-xxxl);
        padding-right: var(--space-xxxl);
      }
      .box--x-xxxxl\@#{$breakpoint} {
        padding-left: var(--space-xxxxl);
        padding-right: var(--space-xxxxl);
      }
      .box--x-0\@#{$breakpoint} {
        padding-left: 0;
        padding-right: 0;
      }

      .box--y-xs\@#{$breakpoint} {
        padding-top: var(--space-xs);
        padding-bottom: var(--space-xs);
      }
      .box--y-sm\@#{$breakpoint} {
        padding-top: var(--space-sm);
        padding-bottom: var(--space-sm);
      }
      .box--y-md\@#{$breakpoint} {
        padding-top: var(--space-md);
        padding-bottom: var(--space-md);
      }
      .box--y-lg\@#{$breakpoint} {
        padding-top: var(--space-lg);
        padding-bottom: var(--space-lg);
      }
      .box--y-xl\@#{$breakpoint} {
        padding-top: var(--space-xl);
        padding-bottom: var(--space-xl);
      }
      .box--y-xxl\@#{$breakpoint} {
        padding-top: var(--space-xxl);
        padding-bottom: var(--space-xxl);
      }
      .box--y-xxxl\@#{$breakpoint} {
        padding-top: var(--space-xxxl);
        padding-bottom: var(--space-xxxl);
      }
      .box--y-xxxxl\@#{$breakpoint} {
        padding-top: var(--space-xxxxl);
        padding-bottom: var(--space-xxxxl);
      }
      .box--y-0\@#{$breakpoint} {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}
