// --------------------------------

// Text component

// The .text-component is a class to be applied to any block containing typography elements.
// It takes care of 1) vertical rhythm and 2) styling inline elements.

// --------------------------------

.text-component {
  --line-height-multiplier: 1;
  --text-vspace-multiplier: 1;

  h1, h2, h3, h4 {
    line-height: calc(var(--heading-line-height) * var(--line-height-multiplier, 1));
    margin-bottom: calc(var(--space-unit) * 0.25 * var(--text-vspace-multiplier, 1));
  }

  h2, h3, h4 {
    margin-top: calc(var(--space-unit) * 0.75 * var(--text-vspace-multiplier, 1));
  }

  p, blockquote, ul li, ol li {
    line-height: calc(var(--body-line-height) * var(--line-height-multiplier, 1));
  }

  ul, ol, p, blockquote, .text-component__block {
    margin-bottom: calc(var(--space-unit) * 0.75 * var(--text-vspace-multiplier, 1));
  }

  blockquote {
    padding-left: 1em;
    border-left: 4px solid var(--color-contrast-low);
  }

  ul, ol {
    list-style-position: inside;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  b {
    font-weight: bold;
  }

  figcaption {
    text-align: center;
    margin-top: calc(var(--space-unit) * 0.5);
  }

  em {
    font-style: italic;
  }

  hr {
    margin-top: calc(var(--space-unit) * var(--text-vspace-multiplier, 1));
    margin-bottom: calc(var(--space-unit) * var(--text-vspace-multiplier, 1));
    margin-left: auto;
    margin-right: auto;

    background: transparent;
    height: 1px;
    border-top: 1px dashed var(--color-contrast-low);
  }

  figcaption {
    font-size: var(--text-sm);
    color: var(--color-contrast-medium);
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

// text block container
.text-component__block--full-width {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

@include breakpoint(sm) {
  .text-component__block--left,
  .text-component__block--right {
    width: 45%;

    img {
      width: 100%;
    }
  }

  .text-component__block--left {
    float: left;
    margin-right: calc(var(--space-unit) * 0.75 * var(--text-vspace-multiplier, 1));
  }

  .text-component__block--right {
    float: right;
    margin-left: calc(var(--space-unit) * 0.75 * var(--text-vspace-multiplier, 1));
  }
}

// outset content
@include breakpoint(xl) {
  .text-component__block--left, .text-component__block--right {
    width: 50%;
  }

}

// Modifier text-component line-height
.line-height-xs {
  --heading-line-height: 1;
  --body-line-height: 1.1;

  &:not(.text-component) {
    line-height: 1.1;
  }
}

.line-height-sm {
  --heading-line-height: 1.1;
  --body-line-height: 1.2;

  &:not(.text-component) {
    line-height: 1.2;
  }
}

.line-height-md {
  --heading-line-height: 1.15;
  --body-line-height: 1.4;

  &:not(.text-component) {
    line-height: 1.4;
  }
}

.line-height-lg {
  --heading-line-height: 1.22;
  --body-line-height: 1.58;

  &:not(.text-component) {
    line-height: 1.58;
  }
}

.line-height-xl {
  --heading-line-height: 1.3;
  --body-line-height: 1.72;

  &:not(.text-component) {
    line-height: 1.72;
  }
}

.line-height-body { line-height: var(--body-line-height); }
.line-height-heading { line-height: var(--heading-line-height); }
.line-height-normal { line-height: normal; }
.line-height-1 { line-height: 1; }

// Modifier text-component vertical spacing
.v-space-xxs { --text-vspace-multiplier: 0.25; }
.v-space-xs { --text-vspace-multiplier: 0.5; }
.v-space-sm { --text-vspace-multiplier: 0.75; }
.v-space-md { --text-vspace-multiplier: 1.25; }
.v-space-lg { --text-vspace-multiplier: 1.5; }
.v-space-xl { --text-vspace-multiplier: 1.75; }
.v-space-xxl { --text-vspace-multiplier: 2; }
