// --------------------------------

// Media

// Place any image- and text-like content side-by-side, as per:
// http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code

// Markup:
// <div class="media media--reverse">
//     <img class="media__img" src="https://unsplash.it/1000/500" alt="">
//     <div class="media__body">
//         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, modi!</p>
//     </div>
// </div>

// --------------------------------

.media {
    display: block;

    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

.media__img {
    float: left;
    margin-right: var(--component-padding);

    > img {
        display: block;
    }
}

.media__body {
    // overflow: hidden;
    display: block;

    &,
    > :last-child {
        margin-bottom: 0;
    }
}

/* Reversed media objects
========================================================================== */

.media--reverse {
    > .media__img {
        float: right;
    }
}

/* Size variants
========================================================================== */

/**
* Modify the amount of space between our image and our text. We also have
* reversible options for all available sizes.
*/

.media--0 {
    > .media__img {
        margin-right: 0;
        margin-left: 0;
    }
}

.media--xs {
    > .media__img {
        margin-right: var(--space-xs);
    }

    &.media--reverse {
        > .media__img {
            margin-right: 0;
            margin-left: var(--space-xs);
        }
    }
}

.media--xs {
    > .media__img {
        margin-right: var(--space-xs);
    }

    &.media--reverse {
        > .media__img {
            margin-right: 0;
            margin-left: var(--space-xs);
        }
    }
}

.media--sm {
    > .media__img {
        margin-right: var(--space-sm);
    }

    &.media--reverse {
        > .media__img {
            margin-right: 0;
            margin-left: var(--space-sm);
        }
    }
}

.media--md {
    > .media__img {
        margin-right: var(--space-md);
    }

    &.media--reverse {
        > .media__img {
            margin-right: 0;
            margin-left: var(--space-md);
        }
    }
}

.media--lg {
    > .media__img {
        margin-right: var(--space-lg);
    }

    &.media--reverse {
        > .media__img {
            margin-right: 0;
            margin-left: var(--space-lg);
        }
    }
}

.media--xl {
    > .media__img {
        margin-right: var(--space-xl);
    }

    &.media--reverse {
        > .media__img {
            margin-right: 0;
            margin-left: var(--space-xl);
        }
    }
}
