// --------------------------------

// Container

// classes used to center content on x-axis and set content max width

// --------------------------------

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
