// CSS triangle
@mixin triangle ($direction: up, $width: 12px, $color: red) {
  width: 0;
  height: 0;
  border: $width solid transparent;

  @if ( $direction == left ) {
    border-right-color: $color;
  }

  @else if( $direction == right ) {
    border-left-color: $color;
  }

  @else if( $direction == down ) {
    border-top-color: $color;
  }

  @else {
    border-bottom-color: $color;
  }
}
