/**
 * Font Face
 *
 * @param {string} $fontName - Name of the font
 * @param {string} $pathName - Subfolder inside the fonts folder + Name of the font-file
 * @param {string} $fontWeight (normal) - Font weight value
 * @param {string} $fontStyle (normal) - Font style value
 */
@mixin font-face($name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    src: font('#{$path}.woff2') format('woff2'),
      font('#{$path}.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
  }
}
