@import '../../1-settings/setting.breakpoints';

@mixin breakpoint($breakpoint, $logic: false) {
  @if ( $logic ) {
    @media #{$logic} and (min-width: map-get($map: $breakpoints, $key: $breakpoint)) { @content; }
  }
  @else {
    @media (min-width: map-get($map: $breakpoints, $key: $breakpoint)) { @content; }
  }
}
